.banner {
    width: 100%;
    background-color: #0000;
}

.topTransparent { background-color: #4f4d4d87; }
.topOpaque { background-color: #ebe9e9; }
.top {
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    min-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 100;
    transition: transform 0.3s;
}

.header {
    user-select: none;
}

.pageNameContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    transition: transform 0.25s;
    justify-content: center;
}

.pageNameContainer:hover { transform: scale(1.07) }
.pageName {
    font-size: 4vw;
    padding: 0 3px;
    text-align: start;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    transition: transform 0.25s;
}
.logo { 
    height: 8vw; 
    width: 8vw; 
    margin-right: 4px
}

.content {
    z-index: 9;
    position: absolute; 
    width: 100%;
}

.contentText {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contentText h1 { font-size: 32px }
.contentText p { font-size: 17px }


@media only screen and (min-width: 360px) {
    .pageName { font-size: 14px }
    .logo { height: 30px; width: 30px; }
}

@media only screen and (min-width: 480px) {
    .contentText h1 { font-size: 40px }
    .contentText p { font-size: 22px }
    .logo { height: 35px; width: 35px; }
    .pageName { font-size: 16px }
}

@media only screen and (min-width: 768px) {
    .contentText h1 { font-size: 48px }
    .contentText p { font-size: 26px }
    .logo { height: 40px; width: 40px; }
    .pageName { font-size: 19px }
}

/* Background color animation */
.header__transparent { animation: opaque-to-transparent 0.5s forwards !important; }
.header__opaque { animation: transparent-to-opaque 0.4s reverse !important; }
@keyframes opaque-to-transparent { 100% { background-color: #7d7d7d48; } }
@keyframes transparent-to-opaque { 100% { background-color: #7d7d7d48; } }
