:root {
    --img-width: 60vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.logo img {
    user-select: none;
    width: var(--img-width);
}

.separator {
    margin-top: 24px;
}

.table {
    margin: 4px;
    user-select: none;
}

.ticketbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.ticketbutton * {
    padding: 4px;
    color: black;
    text-decoration: none;
    border-radius: 30%;
    font-size: 1.2rem;
    background-color: blanchedalmond;
    border: 2px solid black
}

.ticketbutton p:hover {
    background-color: rgb(216, 191, 153)
}


@media only screen and (min-width: 360px) {
    :root {
        --img-width: 50vw
    }
}

@media only screen and (min-width: 480px) {
    :root {
        --img-width: 40vw
    }
}

@media only screen and (min-width: 768px) {
    :root {
        --img-width: 400px
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        --img-width: 450px
    }
}