:root {
    --img-width: 60vw;
}

.main {
    margin: 0 1rem;
}

.top {
    margin: calc(var(--header-height) + 15px) 1.5rem;
}

.top h2 {
    font-size: 32px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.top p {
    font-size: 20px;
    padding: 4px;
}

.bottom {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.bottomImg {
    margin: 3vw;
    border-radius: 10px;
    width: var(--img-width);
    user-select: none;
}

@media only screen and (min-width: 360px) {
    :root { --img-width: 50vw }
}

@media only screen and (min-width: 480px) {
    .bottomImg { width: 50vw; }
    :root { --img-width: 40vw }
}

@media only screen and (min-width: 768px) {
    .bottomImg { width: 35vw; }
    :root { --img-width: 400px }
}

@media only screen and (min-width: 1024px) {
    .bottomImg { width: 500px; }
    :root { --img-width: 450px }
}