.footer {
    display: flex;
    flex-direction: column;
    font-size: 5.3vw;
    background-color: rgb(14, 14, 14);
    align-items: center;
    padding: 1rem 0;
    --logo-size: 20vw;
    --icon-size: 18vw;
}

.logo {
    width: var(--logo-size);
    height: var(--logo-size);
    padding: .3rem;
}

.footer p, .footer a {
    color: white;
}

.footer a:hover {
    color: rgb(132, 132, 238);
}

.pagename_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 1rem;
}

.pagename {
    margin: .5rem;
    font-size: 1.5em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.25s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pagename:hover {
    transform: scale(1.1);
}

.info {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    margin: 1rem 0;
}

.info a {
    padding: .2rem;
    margin: .4rem 0;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-column: 1 / 3;
    margin: 2rem 0;
}

.icon {
    width: var(--icon-size);
    height: var(--icon-size);
    padding: 3px;
    margin: 0 .5rem;
    transition: transform 0.25s;
}

.icon:hover {
    transform: scale(1.1);
}

.privacy {
    display: flex;
    grid-column: 1 / 3;
    justify-content: space-around;
    font-size: .6em;
    margin-top: 2rem;
    width: 100%;
}

.email {
    font-size: .9em;
}

@media only screen and (min-width: 360px) {
    .footer { 
        font-size: 18px;
        --logo-size: 50px;
        --icon-size: 55px;
    }
}

@media only screen and (min-width: 480px) {
    .icon { margin: 0 2rem; }
    .footer { 
        font-size: 20px;
        --logo-size: 60px;
        --icon-size: 70px;
    }
}

@media only screen and (min-width: 768px) {
    .social { grid-column: 1 / 3; }
    .icon { margin: 0 3rem; }
    .footer { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);
        font-size: 24px;
        --logo-size: 65px;
        --icon-size: 80px;
    }
}

@media only screen and (min-width: 1024px) {
    .footer { 
        font-size: 26px;
        --logo-size: 70px;
        --icon-size: 90px;
    }
}