.table {
    display: grid;
    margin-top: 3rem;
    border: 1px solid black;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: rgb(247, 247, 246);
    /* grid-template-columns: repeat(5, 150px); */
}

.headercell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(171, 166, 119);
    border: 1px solid black;
}

.header {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 4px;
}

.celltext {
    margin-top: 0;
    margin-bottom: 0;
    padding: 3px 4px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 2px;
    padding-right: 2px;
}

.longcell {
    justify-content: center !important;
    background-color: rgb(199, 195, 156);
}

.longcelltext {
    font-size: 1.15em !important;
    padding: .4em;
}

.cellselected {
    background-color: rgb(175, 175, 175);
}

.table p {
    user-select: none;
    font-size: 4vw;
}

@media only screen and (min-width: 360px) {
    .header { font-size: 15px !important; }
    .table p { font-size: 12px; }
}

@media only screen and (min-width: 480px) {
    .header { font-size: 20px !important; }
    .table p { font-size: 16px; }
    .cellunselected:hover { background-color: rgb(225, 225, 225); }
}

@media only screen and (min-width: 768px) {
    .header { font-size: 24px !important; }
    .table p { font-size: 17px; }
}

@media only screen and (min-width: 1024px) {
    .header { font-size: 26px !important; }
    .table p { font-size: 20px; }
}